{% for post in pager.getCurrentPageResults() %}
    {% if enable_category_canonical_page is defined and enable_category_canonical_page == true %}
        {% set post_url = url('rz_news_category_view', { 'category':  rz_classification_category_permalink(category), 'permalink': post.slug, '_format': 'html' }) %}
    {% else %}
        {% set post_url = url('rz_news_view', { 'permalink': post.slug, '_format': 'html' }) %}
    {% endif %}
    <div class="pad20"></div>
        {% if post.image %}
            {% if post.image.providerName  == 'sonata.media.provider.image' %}
                <div class="hover_img">
                    <a href="{{ post_url }}"><img src="{%  path post.image, 'reference' %}" alt=""/></a>
                </div>
            {% else %}
                <div class="vendor">
                    {% media post.image, 'preview' %}
                </div>
            {% endif %}
        {% else %}
            <a href="{{ post_url }}">
                <img src="{{  asset('bundles/rznews/img/placeholder.jpg')}}" alt=""/>
            </a>
        {% endif %}
        <h1 class="blog"><a href="{{ url('rz_news_view', {'permalink': post.slug, '_format': 'html'}) }}">{{ post.title }}</a></h1>
        <h4><b>{{ post.publicationDateStart | format_date }}</b> |  <b>{{ 'archive_author'| trans({'%author%': post.author }, 'SonataNewsBundle') }}</b> </h4>
        <p>{{ post.abstract }}</p>
        <div class="post-meta muted">
            <ul>
                <li>Categories: </li>
                <li>
                    {% for postHasCategory in post.postHasCategory %}
                        {% if postHasCategory.enabled  and postHasCategory.category.page %}
                            {% set category_url = rz_render_page_alias_url(postHasCategory.category.page.getPageAlias()) %}
                            {% if  category_url %}
                                <a href="{{ url(category_url) }}">{{ postHasCategory.category.name }}</a>{% if not loop.last %}, {% endif %}
                            {% else %}
                                <a href="#">{{ postHasCategory.category.name }}</a>{% if not loop.last %}, {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </li>
            </ul>
        </div>
        <div class="post-meta muted">
            <ul>
                <li>Tags: </li>
                <li>
                    {% for tag in post.tags %}
                        <a href="{{ url('rz_news_tag', { 'tag': tag.slug } ) }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </li>
            </ul>
        </div>
        <h4><a href="{{ url('rz_news_view', {'permalink': post.slug, '_format': 'html'}) }}"><b>READ &rarr;</b></a></h4>

    <!--end post-->
    <div class="pad30"></div>
{% else %}
    <div class="row-fluid sonata-blog-post-list">
        <div class="span12">
            {{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}
        </div>
    </div>
{% endfor %}