<div id="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="span8">
                <h1>Galleries</h1>
                <small>Integris Media Gallery Collection.</small>
            </div>
            <div class="span4">
                <div class="pull-right">
                    <ul class="breadcrumb">
                        <li><a href="{{ path(rz_render_page_url('homepage')) }}">Home</a> <span class="divider">/</span></li>
                        <li class="active">Galleries</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div id="portolfio-filter" class="span12">
            <ul>
                <li><a data-filter="*" href="#" class="active">All</a></li>
                <li><a data-filter=".web" href="#">Web Design</a></li>
                <li><a data-filter=".illustration" href="#">Illustration</a></li>
                <li><a data-filter=".wallpaper" href="#">Wallpaper</a></li>
                <li><a data-filter=".art" href="#">Art</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>

        <div id="content" class="small">
            {% for gallery in galleries %}
            <div class="span6 web">
                <div class="portfolio-iteam shadow-wrapper">
                    <div class="gallery-small">
                        <div class="gallery-outer">
                            <div class="he-wrap">
                                <a href="#"><img alt="" src="http://placehold.it/460" class="max-image"></a>
                                <div class="he-view">
                                    <div data-animate="fadeIn" class="bg a0">
                                        <div class="center-bar">
                                            <a data-animate="elasticInDown" rel="prettyPhoto[portfolio]" class="a0" href="{{ asset('bundles/applicationsonatapage/integris/images/portfolio/image_2.jpg') }}"><i class="icon-search"></i></a>
                                            <a data-animate="elasticInUp" class="a1" href="{{ url('sonata_media_gallery_view', {'id' : gallery|sonata_urlsafeid }) }}"><i class="icon-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="port-head">
                        <h3>{{ gallery.name }}</h3>
                        <div class="port-like">
                            <div class="pull-left"><i class="icon-heart"></i> 105 Likes <i class="icon-tag"></i>  75 Tags</div>
                            <div class="pull-right"><a href="{{ url('sonata_media_gallery_view', {'id' : gallery|sonata_urlsafeid }) }}">Read More</a></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="span12">
            <div class="pagination pagination-centered">
                <ul>
                    <li><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="span12">&nbsp;</div>
    </div>
</div>


